<footer>
	<div id="footer-wrapper">
		<div id="footer-splitter" class="ui-resizable-n ui-resizable-handle" style="z-index:250"></div>
		<div id="footer-content">
			<div id="preview-wrapper">
				<div id="preview-area">
					<%= yield :preview %>
				</div>
			</div>
			<div id="footer-buffer">
			</div>
			
			<div id="footer-data-wrapper">
				<div id="footer-left-wrapper">
					<div id="footer-left">
						
					</div>
				</div>
				<div id="footer-right-wrapper">
					<div id="footer-right">
					
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
