
<table>
	<tr>
		<td class="desc"><%= t(:playitem_runtime) %>:</td>
		<td class="editable"><%= @playitem.run_time %></td>
	</tr>
	<tr>
		<td class="desc">Transition:</td>
		<td class="editable" id="playlist_media_transition_effect" data-current="<%= @playitem.transition_effect %>"></td>
	</tr>
</table>
