<div id="right">
	<div id="right-content">
		<%= yield %>
	</div>
	
	<%= image_tag('ajax-loader.gif', :id => 'spin-content-loading', :alt => t(:content_loading), :title => t(:content_loading)) %>
</div>

