
<td class='name'><%= group.description %></td>
<td class='name'><%= group.domain %></td>
<td class='name'><%= group.identifier %></td>
<td class='time-entry' title="<%= group.created_at.utc.iso8601 %>"></td>
